server:
  port: 8082

spring:
  application:
    name: master-data-service
  datasource:
    url: ${WMS_DB_URL:jdbc:postgresql://localhost:5432/master_data}
    username: ${WMS_DB_USERNAME:master_data}
    password: ${WMS_DB_PASSWORD:master_data}
    driver-class-name: org.postgresql.Driver
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

mybatis-plus:
  mapper-locations: classpath*:/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleteFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto
    banner: false

sa-token:
  token-name: Authorization
  timeout: 2592000
  activity-timeout: -1
  is-concurrent: true
  is-share: false
  token-style: uuid

logging:
  level:
    com.travislai.wms: debug
  file:
    name: logs/master-data-service.log
